<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2021 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.mapper.IUserMapper">

    <resultMap id="userMap" type="com.lagou.pojo.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>

        <collection property="orderList" ofType="com.lagou.pojo.Order"
                    select="com.lagou.mapper.IOrderMapper.findOrderByUid" column="id" fetchType="lazy">

            <id property="id" column="oid"/>
            <result property="orderTime" column="ordertime"/>
            <result property="total" column="total"/>
        </collection>
    </resultMap>

   <select id="findAll" resultMap="userMap" >
       select u.*,o.id oid,o.ordertime,o.total,o.uid from user u left join orders o on o.uid = u.id
   </select>



   <select id="findById" resultMap="userMap"  >
       select * from user where id = #{id}
   </select>


    <update id="updateById" parameterType="com.lagou.pojo.User">
        update user set username = #{username} where id = #{id}
    </update>

</mapper>